body{

	

background-color:olive;



}



h1{

	

color:white;



}



table{


border-color:red;


}



td{

	border-style: black;

}



th{

	border-style: gray;

	  }

.head {
  color:yellow
    
    
}
