body{

	

background-color:orange;



}



h1{

	

color:purple;



}



table{


border-color:green;


}



td{

	border-style: solid;

}



th{

	border-style: solid;

	  }

.head {
  color:yellow
    
    
}
